output_dir
sample_data
__pycache__/
*.pyc
.env
src/chemreporter.egg-info
.DS_Store
.tox
tests/**/*-lock
.idea
docs/build
.coverage
uv.lock
configs
internal
open_source
scripts
./tutorials
Dockefile
manifest.yaml
aux_data